---
const data = Astro.props
const { url, item } = data
const {title, description, poster} = item.frontmatter
const pathImg = `src/pages/${url.replace('content', '')}${poster}`
---
<article class="text-center items-center flex flex-col gap-8">
    <h2 class="font-semibold uppercase">{title}</h2>
    <img class="drop-shadow-2xl -z-10" src={pathImg} width="852" height="503" />
    <div class="flex flex-col items-center text-left w-full">
        <p class="w-4/5">{description}</p>
        <a class="btn btn-primary w-fit mt-6" href={url}>Saber más sobre {title}</a>
    </div>
</article>